.modal-header .btn-close {
  margin: 0 !important;
  color:var(--h1-color);
}
.btn-close:hover {
  color:var(--h1-color);
}
.modal-body .result{
  color: #a94442;
}
.card-body-news {
  padding: 1em !important;

}