h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;

}

h1 {
    color: var(--h1-color);
    font-size: var(--h1-front-size);
}

h2 {
    color: var(--h2-color);
    font-size: var(--h2-front-size);
}

h3 {
    color: var(--h3-color);
    font-size: var(--h3-front-size);
}

h4 {
    color: var(--h4-color);
    font-size: var(--h4-front-size);
}

h5 {
    color: var(--h5-color);
    font-size: var(--h5-front-size);
}

h6 {
    color: var(--h6-color);
    font-size: var(--h6-front-size);
}
