<div class="card mt-2 mb-2">
    <div class="card-body">
        <div class="row mt-5">
            <div class="d-flex justify-content-center">
                <h1 class="colorB">--- Impressum ---</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4">
                <p><b>Zimmerei Henri Mai GmbH</b><br>
                    Geschäftsführer: Henri Mai<br>
                    Neue Harth 5<br>
                    04416 Markkleeberg<br>
                    <br>
                    <span class="bi bi-globe2">&nbsp;www.holzbaushop.com</span><br>
                    <span class="bi bi-envelope-fill">&nbsp;henrimai@holzbaushop.com</span><br>
                    <br>
                    <span class="bi bi-telephone-fill">&nbsp;034299/77559</span><br>
                    <span class="bi bi-file-earmark">&nbsp;034299/77579</span></p>
            </div>
            <div class="col-lg-4">
                <p><b>Zulassungspflicht</b><br>
                    Eingetragener Betrieb in der Handwerksrolle der Handwerkskammer zu Leipzig.
                    <br>
                    AG Leipzig: HRB 29959<br>
                    Steuer-Nr.: 238/123/00733<br><br>
                    <b>Bilder</b><br>
                    Das Trailer-Foto auf der Home-Seite und das Foto auf der Seite "Über uns"
                    sind kosteloses Downloads von https://unsplash.com/de.
                </p>
            </div>
            <div class="col-lg-4">
                <p><b>Webprogrammierung / Webdesign</b><br>
                    Herr Detlef Maurer
                    <br>
                    Zertifizierter Webmaster & geprüfter Web-Content-Manager
                    <br>
                    <span class="bi bi-globe2"><a href="https://www.detlef-maurer.de" target="_blank">&nbsp;www.detlef-maurer.de</a></span>
                    <br></p>
            </div>
        </div>
    </div>
</div>