/*IDTabelle*/
$id-tabelle: 'datatablesTest';


##{$id-tabelle}_length .form-select {
  background-image: none !important;
}

##{$id-tabelle}_paginate .page-link {
  color: #fff !important;
  background-color: #007598 !important;
  border: none !important;
  border-spacing: 0 !important;
}

##{$id-tabelle}_paginate .page-item.active .page-link {
  background-color: #B3A609 !important;
  border: none !important;
  border-spacing: 0 !important;
}

##{$id-tabelle}_paginate .paginate_button:hover {
  background: none !important;
  padding: 0!important;
}

##{$id-tabelle}_paginate .page-link:hover {
  color: #fff !important;
  background-color: #B3A609 !important;
}
##{$id-tabelle}_paginate .paginate_button{
  padding: 0 0!important;
  margin: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px #fff solid !important;
}

/*IDTabelle*/
$id-tabelle: 'datensaetze';


##{$id-tabelle}_length .form-select {
  background-image: none !important;
}

##{$id-tabelle}_paginate .page-link {
  color: #fff !important;
  background-color: #007598 !important;
  border: none !important;
  border-spacing: 0 !important;
}

##{$id-tabelle}_paginate .page-item.active .page-link {
  background-color: #B3A609 !important;
  border: none !important;
  border-spacing: 0 !important;
}

##{$id-tabelle}_paginate .paginate_button:hover {
  background: none !important;
  padding: 0!important;
}

##{$id-tabelle}_paginate .page-link:hover {
  color: #fff !important;
  background-color: #B3A609 !important;
}
##{$id-tabelle}_paginate .paginate_button{
  padding: 0 0!important;
  margin: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px #fff solid !important;
}