<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h1>Was macht eine Template Engine (Vorlagenmodul)?</h1>
                <p class="text-justify">Eine Template Engine ist eine Art Programmierbibliothek, die in Webanwendungen
                    verwendet wird, um Daten
                    in Präsentationsvorlagen einzubetten, sodass der Internetnutzer das vollständige Ergebnis in seinem
                    Browser sehen kann.</p><br>
                <h1>Was bedeutet Smarty?</h1>
                <p class="text-justify">Smarty ist eine Template-Engine für PHP. Genauer gesagt erlaubt es die einfache
                    Trennung von
                    Applikations-Logik und Design/Ausgabe. Dies ist vor allem wünschenswert, wenn der
                    Applikationsentwickler nicht dieselbe Person ist wie der Designer. Smarty ist eine freie (unter der
                    LGPL "Lesser General Public License" veröffentlichte) Template-Engine, die als PHP-Bibliothek vorliegt. Sie wurde mit dem Ziel
                    entworfen, bei der Entwicklung von Webapplikationen die Trennung von Code und Ausgabe zu
                    ermöglichen.</p>
            </div>
        </div>
    </div>
</div>